.movies-board {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

.movie-list {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 8px 8px 15px #b8b9be, -8px -8px 15px #ffffff;
}

.movie-list img {
    width: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    margin: 5px;
    transition: all 0.3s ease-in-out;

}

.movie-list img:hover {
    transform: scale(1.1);
}

.movie-list .movie {
    display: flex;
    width: 100%;
    padding: 20px;
}

.movie-list .movie .rank {
    font-size: 50px;
    font-weight: bold;
    margin-right: 10px;
}

.movie-list .movie .movie-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.movie-list .movie .movie-desc .movie-title {
    position: relative;
    display: flex;
    gap: 10px;
    text-align: left;
    justify-content: flex-start;
    font-weight: bold;
}

.movie-list .movie .movie-desc .movie-title .movie-adults .watch-rank {
    width: 30px;
    height: 30px;
}


.movie-list .movie .movie-desc .movie-audCnt {
    font-size: 20px;

}

.movie-list .movie .movie-desc .movie-audAll {
    font-size: 20px;
}

.movie-list .movie .movie-desc .movie-actors {
    display: flex;
    gap: 10px;
}

.movie-list .movie .movie-desc .movie-actors p {
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
}



@media screen and (max-width: 768px) {
    .movies-board {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0px;
    }

    .movie-list .movie {
        justify-content: center;
    }

    .movie-list {
        flex-direction: column;
        align-items: center;
    }

    .movie-list .movie .movie-desc .movie-title h2 {
        font-size: 1.5rem;
    }

    .movie-list .movie .movie-desc {
        font-size: 13px;

    }

    .movie-list .movie .movie-desc .movie-audCnt {
        font-size: 15px;
    }

    .movie-list .movie .movie-desc .movie-audAll {
        font-size: 13px;
    }

    .movie-list .movie .movie-desc .movie-actors p {
        font-size: 0.7rem;
    }

    .movie-list img {
        width: 200px;
        height: auto;
        object-fit: cover;
        object-position: center;
        border-radius: 8px;

    }
}

@media screen and (max-width: 325px) {
    .movie-list .movie .movie-desc .movie-title h2 {
        font-size: 1.3rem;
    }
}