.movies-board {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0px;
}

.movie-list {
    display: flex;
    justify-content: center;
    margin: auto;
}

.movie-list .movie img {
    width: 300px;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.movie-list .movie {
    display: flex;
    gap: 10px;
}