.header-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
    color: black;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 8px 8px 15px #b8b9be, -8px -8px 15px #ffffff;
    margin: auto;
    align-items: center;
    margin-bottom: 10px;
}


.header-container .home-btn {
    margin: 0px 15px;
}

.header-container .menu-bars {
    flex-basis: 100%;
    margin-top: 10px;
}


.header-container .menu-bars ul {
    display: flex;
    font-weight: 500;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

.header-container .menu-bars ul li {
    font-size: 1.5rem;
    text-transform: capitalize;
    cursor: pointer;
}

.header-container .menu-bars ul li:hover {
    color: #71ace8;
}

.header-container .today {
    display: flex;
    flex-direction: column;
}

.header-container .today h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

.header-container .today span {
    font-size: 1.5rem;
    background: transparent;
}

.header-container .home-btn {
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    cursor: pointer;
}

.header-container .home-btn:hover {
    color: #71ace8;
}

.cgv img {
    width: 200px;
    height: 180px;
    object-position: center;
}




@media screen and (max-width: 500px) {
    .header-container {
        width: 100%;
    }


}

@media screen and (max-width: 320px) {

    .cgv img {
        width: 150px;
        object-position: center;
    }
}