.today {
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
}

.header-container {
    position: relative;
    background-color: #222;
    max-width: 100%;
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container .cgv {
    height: 100%;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header-container .cgv p {
    position: relative;
    top: -55px;
    left: -13px;
    font-weight: bold;
    font-size: 1.3rem;

}

.header_img {

    width: 180px;
    height: 100%;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    .header-container {
        position: relative;
        min-width: 100%;
        background-position: center;
    }

}

@media screen and (max-width: 320px) {
    .header_img {
        height: 250px;
    }
}