.header-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    height: auto;
    color: black;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
    margin: auto;
    align-items: center;

}


.header-container .menu-bars {
    flex-basis: 100%;
    margin-top: 10px;
}


.header-container .menu-bars ul {
    display: flex;
    font-weight: 500;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

.header-container .menu-bars ul li {
    font-size: 1.5rem;
    text-transform: capitalize;
    cursor: pointer;
}

.header-container .menu-bars ul li:hover {
    color: #71ace8;
}

.header-container .today h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

.header-container .today span {
    font-size: 1.5rem;
    background: transparent;
}

.header-container .home-btn {
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    cursor: pointer;
}

.header-container .home-btn:hover {
    color: #71ace8;
}

.cgv img {
    width: 200px;
    object-position: center;
}

/* side-bar 구현*/

.hamburger-menu {
    display: none;

}

.nav-bar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    transition: left 0.3s ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;

}

.nav-bar.open {
    left: 0;
    /* 열렸을 때 화면 왼쪽에 맞춰짐 */
}

.nav-bar ul {
    list-style: none;
    padding: 10px;
}

.nav-bar ul li {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.nav-bar ul li:hover {
    background-color: #f0f0f0;
}

.nav-bar .faX {
    position: relative;
    top: 10px;
    left: -100px;
    padding: 10px;
    font-size: 2rem;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .hamburger-menu {
        display: flex;
        position: relative;
        font-size: 2.5rem;
        top: 25%;
        left: 20px;
        /* 데스크탑 모드에서 햄버거 아이콘을 숨김 */
        cursor: pointer;
    }

    .menu-bars {
        display: none;
        /* 모바일 모드에서 기본 메뉴는 숨김 */
    }
}